* {
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif; /* Detalhes nas pontas das letras */
}

#container {
  margin-top: 100px;
  width: 80%;
  max-width: 400px;
  margin-inline: auto;
}

h1{
  margin-top: 40px;
  margin-bottom: 10px;
  opacity: 0.9;
}

p{
  margin-bottom: 40px;
  opacity: 0.9; 
}

#campo{
  display: block;
  width: 100%;

  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
}
#campo{
  margin-bottom: 20px;
}

#botao {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  border-radius: 4px;
}

#botao {
  border: none;
  background-color: blueviolet;
  color: white;
}


@keyframes color-rotate{
  from{
    filter: hue-rotate(0deg);
  }
  to{
    filter: hue-rotate(360deg);
  }
}

/* Pseudo-class */
#botao:hover{
  animation: color-rotate 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}

#resposta {
margin-top: 30px;

transition: opacity 0.5s;
}

#resposta div {
font-size: 16px;
font-weight: normal;
opacity: 0.9;
margin-bottom: 10px;
}
